@font-face {
    font-family: 'consolas';
    src: url(../font/CONSOLA.ttf);
    font-weight: normal;
}

:root {
    --code-zone-clr: #282C34;
    --code-zone-font: 'consolas';
    --bellow-bar-hight: 20px;
    --title-bar-hight: 30px;
}

body {
    font-family: 'consolas';
    margin: 0px;
    background-color: #282C34;
    display: flex;
}

.sus {
    background-color: #acacac;
    position: absolute;
    width: 500px;
    margin: 0px;

    button {
        height: 20px;
        line-height: 0px;
        font-size: 20px;
        width: 100%;
        text-align: left;
        background-color: #acacac;
        border: 0px;
    }
}



.code-zone {
    width: 100%;
    height: calc(100dvh - var(--bellow-bar-hight) - var(--title-bar-hight));
    margin: 0px;
    margin-top: var(--title-bar-hight);
    background-color: #282C34;
    color: white;
    font-family: 'consolas';
    font-weight: normal;
    font-size: 16px;
    vertical-align: middle;
}

.flashStick {
    margin: 0px;
    width: 2px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
}

.action {
    color: #5cff82;
}

.property {
    color: #ffff00;
}

.string {
    color: #85fff7;
}

.number {
    color: #ff5c5c;
}

.property-input {
    color: #ff5cb3;
}

.input {
    color: #615cff;
}


.type {
    font-family: 'consolas';
    background-color: transparent;
    height: calc(100dvh - var(--bellow-bar-hight) - var(--title-bar-hight));
    margin: 0px;
    margin-top: var(--title-bar-hight);
    border: 0px;
    width: 50%;
    padding: 0px;
    color: #ffffff00;
    z-index: 20;
    font-size: 16px;
    caret-color: white;
    word-wrap: unset;
    resize: none;
    /* 禁用调整大小 */
}

.type:focus {
    outline: none;
}

.color {
    font-family: 'consolas';
    background-color: transparent;
    height: calc(100dvh - var(--bellow-bar-hight) - var(--title-bar-hight));
    margin: 0px;
    margin-top: var(--title-bar-hight);
    border: 0px;
    width: 50%;
    padding: 0px;
    position: fixed;
    font-size: 16px;
    color: #ffffff;
}

.test-zone {
    height: calc(100dvh - var(--bellow-bar-hight) - var(--title-bar-hight));
    margin: 0px;
    margin-top: var(--title-bar-hight);
    width: 50%;
    background-color: #2a2a2a;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.bellow-bar {
    height: var(--bellow-bar-hight);
    background-color: #393a54;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.titlebar {
    z-index: 30;
    background: #329ea3;
    user-select: none;
    display: flex;
    /* justify-content: flex-end; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.titlebar .dragbar {
    position: fixed;
    width: calc(100% - 30px - 30px - 30px);
    height: var(--title-bar-hight);
}
.titlebar .right-item {
    width: 100%;
    height: var(--title-bar-hight);
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 1px; /* 右側留空間，避免按鈕太靠近邊緣 */
}

.titlebar .right-item .right-hitbox {
    margin: 0px;
    padding: 0px;
    width: fit-content;
    display: flex;
}

.titlebar .left-item ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    list-style-position:inside;
    overflow: hidden;
}

.titlebar .left-item ul li{
    text-align: center;
    width: 50px;
    unicode-bidi: isolate;
    display: list-item;
}

.titlebar .left-item {
    height: var(--title-bar-hight);
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 0px; /* 右側留空間，避免按鈕太靠近邊緣 */
}

.titlebar-button {
    z-index: 40;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0px 5px;
    user-select: none;
    -webkit-user-select: none;
    margin: 0px;
    transition: all 0.1s ease-in-out;
}

.titlebar-button:hover {
    background: var(--titlebar-window-control-button-hover-bg-color);
}

.blue {
    --titlebar-window-control-button-hover-bg-color: #78f8ff9d;
}

.red{
    --titlebar-window-control-button-hover-bg-color: #ff00009d;
}